<section>
  <h2>Welcome to Medcalc!</h2>
  <p>Feeling a little concerned about your health today?</p>
  <p>No worries, just head over to our calculators section and test your risk
  for various conditions.</p>
</section>
